<div class="nav">
    <a class="item act">
        <span class="center">
            <span class="icon iconfont icon-shouye"></span>
            <span class="title">首页</span>
        </span>
    </a>
    <a class="item">
        <span class="center">
            <span class="icon iconfont icon-hotel"></span>
            <span class="title">房屋收益</span>
        </span>
    </a>
    <a class="item">
        <span class="center">
            <span class="icon iconfont icon-fuwuling"></span>
            <span class="title">维修保养</span>
        </span>
    </a>
    <a class="item">
        <span class="center">
            <span class="icon iconfont icon-fuwusheng"></span>
            <span class="title">我的</span>
        </span>
    </a>
</div>