<div class="fixed-top-menu">
  <div class="side" (click)="RouteToMainPage()">
    < </div>
      <div class="title-center">
        收入汇总
      </div>
      <div class="side">

      </div>
  </div>
  <div class="main-scroll-content">
    <app-date-price-slide></app-date-price-slide>
    <div class="m-mt24">
      <div class="two-rows-list-wrapper">
        <div class="two-rows-list-container">
          <div class="price">
            <div>
              +52,800.47/-1,390.00
            </div>
            <div>
              +50,870.47
            </div>
          </div>
          <div class="date">
            <div>
              2017-04-21
            </div>
            <div>
              详情>>
            </div>
          </div>
        </div>
      </div>
      <div class="two-rows-list-wrapper">
        <div class="two-rows-list-container">
          <div class="price">
            <div>
              +52,800.47/-1,390.00
            </div>
            <div>
              +50,870.47
            </div>
          </div>
          <div class="date">
            <div>
              2017-04-21
            </div>
            <div>
              详情>>
            </div>
          </div>
        </div>
      </div>
      <div class="two-rows-list-wrapper">
        <div class="two-rows-list-container">
          <div class="price">
            <div>
              +52,800.47/-1,390.00
            </div>
            <div>
              +50,870.47
            </div>
          </div>
          <div class="date">
            <div>
              2017-04-21
            </div>
            <div>
              详情>>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>